/* ESTILOS GENERALES */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-image: url(./imagenes/image-hero-desktop.webp);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: top; */
}

.hidden {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #e58411;
  border-bottom: 3px solid #e58411;
}

/* CLASES DE AYUDA */
.wrapper {
  /* width: 1440px; */
  margin: 0 auto;
  width: min(100% - 64px, 1440px);
}

.header {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  align-items: center;
}

.portada {
  height: 1224px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  font-size: large;
  margin-top: 16px;
}

.portada h1 {
  font-weight: 700;
  font-size: 81px;
  text-align: center;
}

.portada p {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #e58411;
}

.portada p span {
  display: block;
}

.portada p strong {
  border-bottom: 3px solid #e58411;
}

/* BUSQUEDA */
.busqueda {
  display: flex;
  align-items: center;
  gap: 16px;

  width: 100%;
  max-width: 343px;
  padding: 8px;

  border: 2px solid #e58411;
  background-color: #eae9e5;
  border-radius: 999px;
}

.busqueda input[type="text"] {
  flex: 1;
  border: none;
  background: transparent;
  padding: 8px 24px;
  outline: none;
}

.busqueda button {
  background-color: #E58411;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.busqueda input[type="text"]::placeholder {
  color: #8D8D8D;
}

.beneficios {
  height: 500px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 64px;

  max-width: 1050px;
}

.beneficios h2 {
  font-size: 32px;
  font-weight: 800;
}

.beneficios h3 {
  font-size: 20px;
  font-weight: 650;
}

.beneficios a {
  display: flex;
  align-items: center;
  gap: 4px;

  width: fit-content;
  height: 50px;

  font-size: 14px;
  font-weight: 700;
  color: #E58411;
}

.beneficios a:hover {
  color: #e58411;
  border-bottom: 5px solid #e58411;
}

.beneficio {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 350px;
  text-align: justify;
}

.productos {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 128px 0;
}

.productos h2 {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  align-self: center;
}


.productos-contenedor {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.producto {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 24px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}

.producto-contenido {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 540px;
}

.producto-contenido h3 {
  font-size: 17.5px;
  color: #8b8b8b;
  font-weight: 600;
}

.producto-contenido p {
  font-size: 25px;
  color: #e58411;
  font-weight: 600;
}

.experiencias {
  display: flex;
  align-items: center;
  gap: 96px;
  padding: 64px 0;
}

/* CARRUSEL */

.carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.carousel img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
}

/* ESTILO GENERAL DE BOTONES */
.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  border: none;
  color: white;
  font-size: 22px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

/* IZQUIERDA */
.boton-anterior {
  left: 10px;
}

/* DERECHA */
.boton-siguiente {
  right: 10px;
}

.experiencias-contenido {
  display: flex;
  flex-direction: column;
  gap: 16px;

  max-width: 574px;
}

.experiencias-contenido h3 {
  text-transform: uppercase;
  color: #e58411;
  font-size: 16px;
}

.experiencias-contenido p {
  font-weight: 600;
  font-size: 16px;
  text-align:justify;
}

.experiencias-contenido a {
  display: flex;
  align-items: center;
  gap: 4px;

  width: fit-content;

  font-size: 14px;
  font-weight: 700;
  color: #E58411;
}

footer {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}